# OS
.DS_Store
Thumbs.db
*.swp

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Python / Backend
__pycache__/
*.py[cod]
*.so
venv/
.env
.pytest_cache/

# Node / Frontend (si lancé à la racine)
node_modules/
dist/
npm-debug.log

# Docker / Redis
redis_data/

# Infrastructure / OpenTofu
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.pem
